[2018-10-20 19:40] vinayak-mehta opened #2 "Create Windows executable"

[2018-10-20 23:16] vinayak-mehta opened #3 "Add user defined excalibur.cfg and PDFS_FOLDER"

[2018-10-22 12:58] vinayak-mehta commented on #2
Done in v1.1.0.

[2018-10-22 12:58] #2 closed

[2018-10-22 17:08] vinayak-mehta opened #5 "Table area selection shows up as white instead of transparent"
![image](https://user-images.githubusercontent.com/4329421/47306805-0f287100-d64b-11e8-9a07-d187d1114f87.png)

[2018-10-24 05:38] pqrth commented on #3
@vinayak-mehta, could you please elaborate on the following:
1. Which configurations do we plan to include in *excalibur.cfg*?
2. What will be the purpose of `PDFS_FOLDER` (I suppose it's an environment variable)?

[2018-11-04 12:52] vinayak-mehta commented on #3
PDFS_FOLDER can't be user defined as of now, since it is needed to be inside the static folder to serve PNG files.

[2018-11-04 12:53] vinayak-mehta opened #9 "Add celery support"

[2018-11-05 00:06] #3 closed

[2018-11-05 00:54] #9 closed

[2018-11-07 03:41] willardgtan opened #11 "AttributeError Nonetype for 'job_id'"
Here's the print out of the problem.  I'm getting a 500 internal server error.  I'm in python 3.7.  Camelot works fine for me (I can parse, read, export no problems).  Just have a problem with running Excalibur.

* Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [06/Nov/2018 21:30:22] "GET / HTTP/1.1" 302 -
[2018-11-06 21:30:22,663] ERROR in app: Exception on /files [GET]
Tr

[2018-11-07 03:45] willardgtan commented on #11
The version / download I'm using is excalibur-win-v0.2.1.zip

I'm using Camelot Camelot: PDF Table Extraction for Humans
Release v0.3.2

[2018-11-07 08:19] vinayak-mehta commented on #11
@willardgtan Thanks for the detailed report! I think this is happening because you didn't start an extraction job after uploading a file and creating an extraction rule. Sorry, this shouldn't raise an exception and is a bug. I'll push a fix today.

[2018-11-07 09:34] vinayak-mehta commented on #11
@willardgtan Meanwhile, you can do a `excalibur resetdb` and it should work.

[2018-11-07 11:00] willardgtan commented on #11
excalibur resetdb did the trick!  Please add that to the Docs if you can.  Made my day!

[2018-11-07 11:03] willardgtan commented on #5
Same Issue

![image](https://user-images.githubusercontent.com/15974059/48127880-6a14b780-e24a-11e8-9f00-a541668ff884.png)

[2018-11-07 11:33] sandeepraizada commented on #11
Thank Vinayak. That helped but I am using a fie that identified a table in the pdf... however using this interface i get a message as follows:
ERROR:root:'Table' object has no attribute '_bbox'
Traceback (most recent call last):
  File "/home/sandeep/anaconda3/lib/python3.6/site-packages/excalibur/tasks.py", line 96, in split
    x1, y1, x2, y2 = tables[0]._bbox
AttributeError: 'Table' object has

[2018-11-07 11:46] sandeepraizada commented on #11
I noticed a pointer to using the rules and the jobs menu... unfortunately for me these are not select-able after uploading a document.

[2018-11-07 12:40] vinayak-mehta commented on #11
@sandeepraizada Looks like a separate issue. Would it be possible for you to upload the PDF you're trying to extract tables from? Also, are you using the latest version for Camelot? You don't need to install it separately, it is installed with `pip install excalibur-py`.

[2018-11-07 12:41] vinayak-mehta commented on #11
@sandeepraizada Please file a separate issue with the PDF.

[2018-11-07 12:45] vinayak-mehta commented on #5
@n-sikka Any idea what could be causing this? A way to debug this would be to run the example from https://github.com/360Learning/jquery-select-areas on Windows. I can try that later.

[2018-11-07 13:03] vinayak-mehta opened #12 "Extract tables from webpage"
Tables can be extracted from a webpage using `pandas.read_html`. We can create an interface 1) simple: where user can submit the link of the webpage and download extracted tables or 2) fancy: where user can submit the link of the webpage, see detected tables (on an image of the webpage?), un-select the tables they don't want and then download extracted tables.

[2018-11-07 14:46] willardgtan commented on #5
There's a setting in jquery-select-areas that is opacity setting...

overlayOpacity (0.5) : opacity of the overlay layer over the image

That cold be it

[2018-11-07 17:33] sandeepraizada commented on #11
I have the link to the document in my previous mail. But sure understand and will file a separate issue on this. Thanks for your response.

[2018-11-07 17:34] sandeepraizada opened #13 "Processing PDF - error message"
I am on ubuntu 14.04 and installed excalibur-py using pip. while processing the following pdf (this is also used in camilot-py) and works well... the system returns the following message -

ERROR:root:'Table' object has no attribute '_bbox'
Traceback (most recent call last):
File "/home/sandeep/anaconda3/lib/python3.6/site-packages/excalibur/tasks.py", line 96, in split
x1, y1, x2, y2 = tables[0].

[2018-11-08 05:18] sandeepraizada opened #14 "version `GLIBC_2.25' not found"
While installing from linux executable on ubuntu 14.04 above error message is reported. I have also tried to update the library but understand that an upgrade to ubuntu 16 is required. Will be great if we can get a fix for ubuntu 14.04.

[2018-11-09 17:46] vinayak-mehta commented on #14
Hey @sandeepraizada, you don't need to install the Linux executable. You can just download the zip, extract it and run the executable using `./arthur`. Alternatively, you can install Excalibur using `pip install excalibur-py` and then run the webserver using `excalibur webserver`.

Hope that helps!

[2018-11-09 17:47] vinayak-mehta commented on #13
@sandeepraizada What Camelot version are you using? Can you install the latest version and tell me if that fixes this error?

[2018-11-10 12:52] sandeepraizada commented on #14
thanks Vinayak, this is when one runs ./arthur... please see the attached image
![arthur error](https://user-images.githubusercontent.com/33590633/48301527-9a43ab00-e515-11e8-9389-e02fb0c114c1.png)
.

[2018-11-10 12:54] sandeepraizada commented on #13
Thanks Vinayak - the version is 0.3.1

[2018-11-10 13:48] vinayak-mehta commented on #13
@sandeepraizada You need to be on Camelot version 0.3.2, which is the latest one and this should be fixed.

[2018-11-10 13:48] #13 closed

[2018-11-10 13:48] vinayak-mehta commented on #14
Let me test this on 14.04.

[2018-11-10 18:39] sandeepraizada commented on #14
Thanks greatly appreciate it

[2018-11-10 18:41] sandeepraizada commented on #13
How do I do it because conda install does not take it to that version

[2018-11-12 14:58] vinayak-mehta opened #18 "Update PyPI description"
To "Excalibur: A web interface to extract tabular data from PDFs".

[2018-11-13 12:14] Jackblackpearl opened #19 "data extracted in 2nd,3rd... page is not aligned properly as in 1st page."
When there are 3 pages in the PDF table on the first page is extracted and aligned properly but the in 2nd-page data is not aligned properly. Can you please let us know what needs to be modified.

import Camelot
tables = camelot.read_pdf("D:\\drive-download-20180907T081608Z-001\\047238.pdf", flavor ='stream', pages='1-end')
tables
tables[0].df
tables.export("C:\\Users\\fooo.htm", f='html', compres

[2018-11-13 17:07] vinayak-mehta commented on #19
@Jackblackpearl Can you post a link to the PDF so that I can reproduce this? Also, this looks like a Camelot issue and not an Excalibur one.

[2018-11-20 13:06] vinayak-mehta opened #21 "Clicking on Clear doesn't clear selections"

[2018-11-20 15:04] dunnap opened #22 "ERROR:root:file has not been decrypted"
While trying to upload a pdf file following error is through.

ERROR:root:file has not been decrypted
Traceback (most recent call last):
  File "c:\py3\lib\site-packages\excalibur\tasks.py", line 57, in split
    save_page(file.filepath, file.page_number)
  File "c:\py3\lib\site-packages\excalibur\utils\task.py", line 10, in save_page
    page = infile.getPage(page_number - 1)
  File "c:\py3\lib\s

[2018-11-20 15:24] vinayak-mehta commented on #21
![image](https://user-images.githubusercontent.com/4329421/48783449-6848fa80-ed06-11e8-8432-9e5af679b6bc.png)

[2018-11-20 18:13] vinayak-mehta commented on #22
You'll need to decrypt your file using `qpdf`. An option to specify `password ` was added to the underlying Python library after this https://github.com/socialcopsdev/camelot/issues/162#issuecomment-432040067. So I think it probably makes sense to the same option while uploading the PDF to Excalibur.

[2018-11-20 18:14] vinayak-mehta opened #23 "Add option to specify password during upload"
#22

[2018-11-20 18:15] vinayak-mehta opened #24 "Support to parallel process multiple PDFs from CLI using a rule.json"
Possible command: `excalibur distribute --rule rule.json directory/`

[2018-11-20 18:17] vinayak-mehta commented on #24
If Excalibur is configured with Celery, a worker would have to be running with `$ excalibur worker`. Else all PDFs from the directory would be processed sequentially.

[2018-11-20 18:18] vinayak-mehta commented on #24
The idea behind a `--rule` option is that a user should be able to download a rule s/he created on the web interface and then re-use it.

[2018-11-20 22:38] vinayak-mehta opened #25 "Refactor workspace.js into separate files"

[2018-11-23 23:34] #18 closed

[2018-11-29 17:42] BasHamer opened #26 "windows install threw an unhandled error"
running as administrator on Windows Version 10.0.17763 Build 17763 after installing python-3.7.1-amd64

PS C:\excalibur> pip install excalibur-py
PS C:\excalibur> excalibur initdb
Error **ModuleNotFoundError: No module named 'chardet'**

full output below

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

PS C:\WINDOWS\system32> **cd C:\excalibur\**
PS C:\excalibur> **p

[2018-11-30 23:53] vinayak-mehta commented on #26
Thanks for the report! I was able to reproduce this issue with both Python 3.7 and 3.6 on Windows (specifically WSL). This is a strange one since chardet is a dependency for pdfminer.six, used in camelot which is passing the build on Travis (on Ubuntu).

There was a [related issue](https://github.com/pdfminer/pdfminer.six/issues/213) opened on the pdfminer.six repo recently. I'll look into why thi

[2018-12-05 15:35] vinayak-mehta commented on #26
This is fixed now with Camelot 0.4.1.

[2018-12-05 15:35] #26 closed

[2018-12-05 23:39] MeesterMeetch opened #29 "Download is not working"
[S05MoldedCaseCircuitBreakers.pdf](https://github.com/camelot-dev/excalibur/files/2651058/S05MoldedCaseCircuitBreakers.pdf)

Hi,

The file will not download.

The upload & Table extraction seem to be working.  When I press the download button, it goes to the refresh screen.  The file never downloads.

Attached is the PDF I was testing with.

I hope this helps.

Cheers,
Mitch Hunt

[2018-12-05 23:43] vinayak-mehta commented on #29
Hi Mitch! Can you also tell me the page number you were trying to extract tables from?

[2018-12-05 23:50] MeesterMeetch commented on #29
Hi Vinayak,

I was trying to extract pages 1-10.

Cheers,
Mitch

On Wed, Dec 5, 2018 at 4:43 PM Vinayak Mehta <notifications@github.com>
wrote:

[2018-12-06 00:33] #19 closed

[2018-12-07 16:42] williamjacksn opened #30 "Support listening on all interfaces"
As far as I can tell, Excalibur listens on 127.0.0.1 and that can't be changed.

I am attempting to create a Docker container for Excalibur and I would like to have the web server listen on all interfaces to make it work.

I am not completely familiar with the code base, but I accomplished this myself by adding a "web_server_host" value to the [webserver] section of the config file, and changing t

[2018-12-07 17:40] vinayak-mehta commented on #30
Yes, it would be awesome to add this, since it makes Excalibur more configurable! Would you be interested in submitting a PR?

[2018-12-13 15:32] #30 closed

[2018-12-18 20:49] MeesterMeetch commented on #29
Just tinkering around, it seems to be a degree symbol "°"
DEGREE SIGN
Unicode: U+00B0, UTF-8: C2 B0

I hope this helps.

Excalibur seems to be working on pages that do not contain that symbol.

[2018-12-25 06:14] jiyonghe opened #32 "can't change web port"
I want to change the web port from 5000 to another port,so i modify the web port in excalibur.cfg, and then , I reset db, but when start web server,the web port is 5000

[2018-12-25 06:14] jiyonghe opened #33 "can't change web port"
I want to change the web port from 5000 to another port,so i modify the web port in excalibur.cfg, and then , I reset db, but when start web server,the web port is 5000

[2018-12-27 14:37] vinayak-mehta commented on #33
duplicate of #32.

[2018-12-27 14:37] #33 closed

[2018-12-27 15:07] vinayak-mehta commented on #32
@jiyonghe Thanks for the report. This is fixed in #34, please install v0.4.1.

[2018-12-27 15:07] #32 closed

[2018-12-27 16:48] vinayak-mehta commented on #29
Sorry for the delay on this. I just tested on both pages 1-10 and page 16 (which has the degree symbol) and the extraction and download are working. Can you tell me the exact page number for which the download button redirects to a refresh page?

[2018-12-28 09:02] madhavchunky1 opened #36 "Excalibur python error"
When I downloaded the extracted file , I got result like below mentioned . How to get the actual value ?
(cid:40)(cid:90)(cid:3)(cid:86)(cid:85)(cid:3)(cid:91)(cid:79)

[2018-12-28 13:19] vinayak-mehta commented on #36
Hey, this is a problem in the PDF file itself. It wasn't generated correctly at source most probably.

[2018-12-28 13:19] #36 closed

[2018-12-28 13:19] vinayak-mehta commented on #36
OCR can usually help you get the text out if your PDF uses some standard fonts.

[2019-01-03 18:43] majestique opened #37 "GhostscriptNotFound: Please make sure that Ghostscript is installed and available on the PATH environment variable"
OS: Windows 10

After downloading excalibur, I had to download/install ghostscript (this should be stated in instructions).

After installing ghostscript, the PATH needs to be set. After setting PATH, the error still exists:
![image](https://user-images.githubusercontent.com/19336285/50655246-63ea4100-0f44-11e9-93db-ae2bd46b32bc.png)

PATH set: C:\Program Files\gs\gs9.26\bin\gswin64c.exe (I've res

[2019-01-04 11:11] vinayak-mehta commented on #37
Sorry for leaving that out, I'll add it to the README and docs.

I would recommend doing [this check](https://camelot-py.readthedocs.io/en/master/user/install-deps.html#for-ghostscript) to see if ghostscript is on the PATH variable or not. After Camelot 0.7.0, the dependency on ghostscript to be on the PATH won't be necessary.

[2019-01-05 10:21] fengyuxl opened #38 "ImportError: cannot import name 'TableList'"
C:\Program Files\gs\gs9.26\bin>excalibur initdb
Traceback (most recent call last):
  File "c:\programdata\anaconda3\lib\runpy.py", line 193, in _run_module_as_main

    "__main__", mod_spec)
  File "c:\programdata\anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\ProgramData\Anaconda3\Scripts\excalibur.exe\__main__.py", line 5, in
<module>
  File "c:\programdata

[2019-01-06 01:12] fengyuxl commented on #38
ERROR:root:local variable 'LTObject' referenced before assignment
Traceback (most recent call last):
  File "c:\programdata\anaconda3\envs\wxl\lib\site-packages\excalibur\tasks.py",
 line 64, in split
    save_page(file.filepath, page)
  File "c:\programdata\anaconda3\envs\wxl\lib\site-packages\excalibur\utils\task
.py", line 65, in save_page
    lttextlh = get_text_objects(layout, ltype="lh")
  F

[2019-01-06 03:23] majestique opened #39 "UnicodeEncodeError: 'charmap' codec can't encode character '\u2010' in position 9239: character maps to <undefined>"
OS: Win 10
I keep on getting this error when I'm attempting to view data:
https://i.imgur.com/waFbLPJ.png
![image](https://user-images.githubusercontent.com/19336285/50731663-694fb300-111f-11e9-9242-6b6ec290bf04.png)

[2019-01-06 03:31] majestique commented on #39
Ah I found out why, I didn't make a rectangular selection, just had columns.

[2019-01-06 04:34] majestique opened #40 "Feature request: Option to Link PDF URL, refreshes each time download page is accessed"
I'd like to request an option to link PDFs (since PDF data often updates, it's much to keep data updated by linking than by manually uploading each time).

When a PDF is linked, and the rules have been set for that particular PDF, whenever the download page is accessed for that PDF, it automatically downloads from URL, then re-processes it with pre-defined rule, and displays the tables of the extr

[2019-01-06 17:45] majestique commented on #37
Once path is set to(restart): "C:\Program Files\gs\gs9.26\bin\" it should work

[2019-01-06 17:45] #37 closed

[2019-01-08 05:42] wujunke opened #41 "Please wait while the pages are converted to images. Refresh again in some time"
![2019-01-08 1 41 23](https://user-images.githubusercontent.com/13659481/50811842-32f67b80-134b-11e9-9904-90d2d4e4de6a.png)

[2019-01-08 09:46] ntota commented on #41
I am also facing same issue. Uploaded files are displaying under Files link but this Refresh page is not showing any results.

[2019-01-08 11:20] cedricprunier commented on #41
I have also the same error...

[2019-01-09 08:48] vinayak-mehta commented on #41
Looks like a bug, let me look into this. Can you also post a link to the PDF file? It will help me reproduce the issue.

[2019-01-09 08:49] vinayak-mehta commented on #39
@majestique It's possible to just specify columns and not make a rectangular selection. This is possibly a bug, can you post a link to the PDF you're using so that I can reproduce this?

[2019-01-09 09:06] vinayak-mehta commented on #40
@majestique Thanks for the detailed explanation! I think it will be a good feature to have. But instead of implicitly processing the PDF whenever the download page is accessed, I would be in favor of of a more explicit approach:

1. Click on the "Extract again" button and selecting the rule.
2. Click on "View data" which would start an extraction job. (Downloading the new PDF and extracting tables

[2019-01-09 09:10] vinayak-mehta commented on #38
@fengyuxl Are these both separate errors? You can try [this fix](https://github.com/socialcopsdev/camelot/issues/142#issuecomment-437414730) for the first. The second one looks similar to #41.

[2019-01-09 09:47] #41 closed

[2019-01-09 09:50] vinayak-mehta commented on #41
This is fixed now, please install the latest version v0.4.2.

[2019-01-09 19:54] majestique commented on #40
The reason for implicitly viewing data is for automation. I may have thousands of PDF links and I already have a table scrapper via google sheet's `importhtml` (https://support.google.com/docs/answer/3093339?hl=en) function.

Can there be a separate link for extracting the data and viewing the data by simply accessing the page? Any manual clicks will be a significant burden if there are thousands

[2019-01-09 20:17] majestique commented on #39
Sure, it's https://www.torranceccu.org/images/pdf/ratesheetADAmobile.pdf

[2019-01-10 06:36] ntota commented on #5
Hi, I am also facing similar issue,
It will be helpful if it shows selected area instead of white space.

[2019-01-12 03:21] majestique commented on #12
Just an idea, one can do this with google spreadsheet IMPORTHTML function to extract tables.  https://support.google.com/docs/answer/3093339?hl=en

[2019-01-16 03:21] flystar233 opened #43 "close_fds is not supported on Windows platforms if you redirect stdin/stdout/stderr"
close_fds is not supported on Windows platforms if you redirect stdin/stdout/stderr

[2019-01-26 17:14] Mukamik commented on #5
I'm also facing this issue.

Also, when I try extracting a tables on windows, all the tables are detected properly, selected with solid white boxes, and no data is extracted.

![image](https://user-images.githubusercontent.com/12855670/51790465-60209780-215b-11e9-8fcd-55b59f6ea0e5.png)

All tables that are extracted are blank like in the image above.
Would this be related to the white-box issue? C

[2019-02-02 19:39] Mukamik commented on #5
In case this helps anyone else:

When I extracted the data and saw the blank tables I assumed the extraction had failed.
But when I ignored the blank tables and downloaded the JSON anyways, the data was fine.
So if tables are being shown as blank after extraction, try downloading the data anyways

[2019-02-06 12:57] vm-asd2015 commented on #41
I have just installed Excalibur via pip and face the same issue.

Excalibur --version returns: 0.4.2.

[2019-02-08 09:23] vm-asd2015 commented on #43
I encounter the same problem.
Below is more information about the issue:

## Webserver traceback log
[code]

## Version information

[code]

[2019-02-10 06:49] vm-asd2015 commented on #43
I've just found another project's solution to this issue [here](https://github.com/ipython/ipython/pull/4031/files).

[2019-02-10 09:37] checkaayush opened #44 "Hosting excalibur on the web"
Have you thought about hosting Excalibur for ease of use by non-technical people?

[2019-02-10 11:16] vinayak-mehta commented on #43
@vm-asd2015 Would you like to open a PR?

[2019-03-01 10:50] cmutel commented on #44
Alternatively, as each time I try to install this I run into errors with some part of the tool chain - maybe a blessed Docker image that would make it trivial to get Excalibur running as a web service?

[2019-03-01 10:54] checkaayush commented on #44
@cmutel There's already a PR to do exactly that: https://github.com/camelot-dev/excalibur/pull/35.

@vinayak-mehta Do you need help with reviewing this? Would be a much needed addition to the tool.

[2019-03-01 18:32] vmgustavo opened #46 "Python parameters to get the result found using the UI"
Is it possible to get the input parameters obtained by using the UI to later use it on a python script to get the same result?

[2019-03-02 08:29] vinayak-mehta commented on #44
@checkaayush sorry for not replying earlier. I would be totally up for hosting an online version to make it easier to use. Do you have any ideas wrt where to host etc? We'll probably have to put in some usage limits per user if we decide to go use the free tier on AWS, for example.

Would definitely love your help! @cmutel has already added some points. After your review, I'll take another look an

[2019-03-02 14:49] RIYADAS commented on #41
ValueError: close_fds is not supported on Windows platforms if you redirect stdin/stdout/stderr. I am getting this issue. what could be the problem

[2019-03-03 07:20] vm-asd2015 commented on #41
@RIYADAS : Have a look at issue #43 and PR #45.

[2019-03-03 08:30] vinayak-mehta commented on #46
You can't do this from the UI right now, but if you really want the same parameters, you could look into the metadata database. This can be a UI feature.

[2019-03-03 12:29] vmgustavo commented on #46
How to look into the metadata database?

[2019-03-12 15:00] majestique commented on #40
Hi @vinayak-mehta, I love this development and have supported it 👍(planning to do more also)  just wondering if you think the steps below could be included?
1. Excalibur re-downloads the pdf and extract, on page access (no clicking)
2. Shows the data table HTML and have the option to output in CSV (by adding to URL &output=csv)

Also do you have a rough estimate when this could be achieved if this

[2019-03-19 01:36] KAIXIE opened #47 "Please make sure that Ghostscript is installed"
Please make sure that Ghostscript is installed

all installed , but error still  !!!!!!!!!!!!!!!!!!!

[2019-03-19 01:36] KAIXIE commented on #47
camelot is ......

[2019-03-19 01:50] nicozhang commented on #47
show your env and error ?

[2019-05-07 18:08] scote89 opened #50 "undefined character maps"
Im getting a similar charmap error.

File "c:\users\sebastien.cote\appdata\local\continuum\anaconda3\lib\encodings\cp1252.py", line 19, in encode
    return codecs.charmap_encode(input,self.errors,encoding_table)[0]
UnicodeEncodeError: 'charmap' codec can't encode character '\u2776' in position 246: character maps to <undefined>

Is there anyway the program can proceed by skipping the problematic

[2019-05-09 13:25] VenkatNaveenM opened #52 "RuntimeError: Please make sure that Ghostscript is installed (Tried all closed issues but no use)"
<img width="905" alt="Capture" src="https://user-images.githubusercontent.com/41520213/57456871-0b2d0b00-728c-11e9-97c1-6542533e8cf8.PNG">

[2019-05-09 13:27] VenkatNaveenM commented on #52
* Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off
 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [09/May/2019 18:53:08] "GET / HTTP/1.1" 302 -
127.0.0.1 - - [09/May/2019 18:53:08] "GET /files HTTP/1.1" 200 -
127.0.0.1 - - [09/May/2019 18:53:15] "POST /files HTTP

[2019-05-13 16:24] domints opened #53 "'ascii' codec can't encode character"
I tried to convert some tables in Polish govt doc, containing polish accented characters.
This failed with error: `UnicodeEncodeError: 'ascii' codec can't encode character u'\u015a' in position 346: ordinal not in range(128)`
The character in question is `ś`, but there are way more such characters in that file.

If I need something reconfigured to be able to parse such chars, I believe it shouldn'

[2019-05-28 20:57] MeesterMeetch commented on #29
Hi Vinayak,

I'm so sorry, I'm just now looping back around to this.

[here is the pdf](https://digitalcontentcenter.compas.siemens-info.com/documents/20181/375293/SF17-07-032.pdf)

The heart of the issue seems to be with the (unicode) symbols.  In my case it is with the symbol for degree, example:
°
℃
℉
========================================================================
The error while tryin

[2019-06-08 04:37] answerquest commented on #44
Hi, I use DigitalOcean's basic ubuntu server droplet for deploying apps on web and it does a great job. I've deployed several python and other programs on the same server: [example1](http://server.nikhilvj.co.in:5060/), [example2](https://server.nikhilvj.co.in/payanam/). We don't actually need docker - I prefer not to go there because I want to be able to make changes to my code files etc whenever

[2019-06-08 05:13] answerquest opened #55 "[Feature request] Row separator like column separator"
The column separator is an amazing feature!

Taking a logical step forward, how about horizontal row separators too? To help avoid consecutive table entries mixing in with each other.

With both column and row separators at hand, this will help the user parse their table perfectly.

Ref: A similar request I'd posted on Tabula that had garnered a lot of attention: https://github.com/tabulapdf/tabul

[2019-06-27 02:51] Sijiu commented on #43
great!

[2019-06-28 20:55] Ishaan94 opened #58 "GhostScript error only for lattice when run through command line"
This is my code:

**import camelot
import pandas as pd
import string

class CommandLine:
    def __init__(self):
        tables=camelot.read_pdf(filepath="C:\\Users\\Ikhanna\\OneDrive - STEPSTONE GROUP LP\\Documents\\PortCo Ari\\Adam\\Q1.2018.CAB.FS.Rpt.Orion Euro RE IV.pdf", pages="1")
if __name__ == '__main__':
    app = CommandLine()**

This runs fine when I run in Jupyter notebook but when I c

[2019-07-02 14:00] swaraj20 opened #59 "Error on Windows: OSError: exception: access violation writing 0x0967BC48 while running python-Excalibur code"
camelot Excalibur thow an oserror:access violation writing 0x0967BC48
os - Windows 10
python version - 3.7

below is the output screen
* Debug mode: off
 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [02/Jul/2019 19:03:54] "GET /files HTTP/1.1" 200 -
127.0.0.1 - - [02/Jul/2019 19:04:10] "POST /files HTTP/1.1" 200 -
127.0.0.1 - - [02/Jul/2019 19:04:10] "GET /workspaces/59

[2019-07-03 09:50] mausquirk commented on #53
Same here with `ä` :
[code]

[2019-07-06 06:28] vinayak-mehta commented on #58
Camelot is not able to find ghostscript on your PATH. Please read the docs to see how you can do that.

[2019-07-06 06:28] #58 closed

[2019-07-06 06:31] vinayak-mehta opened #60 "Show errors on webpage"
A lot of users are stuck on the Refresh page without any clue about what's happening. We need to show any errors that happen on the webpage itself.

[2019-07-08 23:26] ac-asks commented on #59
I am getting the same error on a Mac. Also Python 3.7. I'm running it locally via flask run. Any help would be appreciated!

127.0.0.1 - - [09/Jul/2019 09:14:01] "GET /static/css/vendor/jquery-ui.structure.min.css HTTP/1.1" 200 -
127.0.0.1 - - [09/Jul/2019 09:14:01] "GET /static/css/workspace.css HTTP/1.1" 200 -
127.0.0.1 - - [09/Jul/2019 09:14:01] "GET /static/js/vendor/jquery.selectareas.min.js

[2019-07-09 01:29] ac-asks opened #61 "Unable to process PDFs, throws GhostscriptError: -100 on refresh page (mac OS)"
I've been trying to work on this by forking the repository by duplicating it and setting it to private first via instructions from top answer here (https://stackoverflow.com/questions/10065526/github-how-to-make-a-fork-of-public-repository-private). I have been getting a GhostScript error on a mac OSX.

I am using:
Python 3.7
GPL Ghostscript 9.27 [via homebrew]
opencv: stable 4.1.0 (bottled) [via

[2019-07-09 01:37] nicozhang commented on #61
![image](https://user-images.githubusercontent.com/1912794/60852960-a0b52e80-a22c-11e9-84b8-728da1a0b5f4.png)
Maybe put pdb.set_trace() in here,  check the rc value and the func args ,  will find where the problem locates.

[2019-07-09 02:14] ac-asks commented on #61
Hey, thankyou!I tried your advice and am getting this output:
rc: -100
argv: (b'-q', b'-sDEVICE=png16m', b'-o', b'/usr/local/lib/python3.7/site-packages/excalibur/www/static/uploads/dcea965f-e383-4243-810c-0b3b7ddf1e25/page-1.png', b'-r300', b'/usr/local/lib/python3.7/site-packages/excalibur/www/static/uploads/dcea965f-e383-4243-810c-0b3b7ddf1e25/page-1.pdf')

I guess the rc value is wrong. I am n

[2019-07-09 02:20] nicozhang commented on #61
Enter s, step into libgs.gsapi_init_with_args,  check its logic, and the return value.
I met some problem too.  The gs can not decode all pdfs, some kind of encrypted pdf does not work.

[2019-07-09 02:39] ac-asks commented on #61
Hey thanks. Checking it now. Weird thing is it works perfectly using the webserver and can process any PDF but can't do any PDFs when I run it locally via flask run.

I've fed many PDFs and all of them have been dummy PDFs and not encrypted. I will report back after debugging on whether I find anything. Thank you!

[2019-07-09 02:45] nicozhang commented on #61
I deploy a Chinese version for my personal use here http://excalibur.fusky.xyz/files. You can try your pdfs, if meet some problem, tell me :)

[2019-07-09 02:48] ac-asks commented on #61
Hey thank you. I've tried my PDF files on yours and it works perfectly. Did you manage to run your files via flask run on a mac?

[2019-07-09 02:53] nicozhang commented on #61
develop on Mac, deploy on ubuntu. Python on Ubuntu is 3.7.2, Ghostscript 9.26 (2018-11-20)

[2019-07-26 07:20] VAnthonyrajah opened #65 "Failure when "all" or 1-end is selected"
Excalibur struggles on large pdfs (20pgs or more) when I indicate the "all" or "1-end" options.
I get the following warning:
UserWarning: No tables found on page-144 [lattice.py:399]
UserWarning: No tables found on page-144 [stream.py:447]
UserWarning: No tables found in table area 1 [stream.py:361]
UserWarning: No tables found in table area 1 [stream.py:361]
UserWarning: No tables found in table

[2019-07-28 12:19] vinayak-mehta commented on #65
Is it because tables in your PDF lie on different parts of the page and the single table area you've selected doesn't work.

[2019-08-03 07:38] VAnthonyrajah commented on #65
Hi @vinayak-mehta  I believe this happens when one of the pages in the pdf dont have tables. Then the whole process fails. Does that make sense?

[2019-08-05 21:01] randomstability opened #66 "ERROR:root:'charmap' codec can't encode character '\ued6f' in position 350: char acter maps to <undefined>"
I am unable to share the pdf that is causing this issue.  I would like to know what I can do to bypass this error.
Even if it means dropping the "offending char".  Getting some of the data is better than getting none of the data.
I'd be ecstatic if this is a PEBKAC issue,  so please don't discount that.

Using the latest download of excaliber and Python 3.7.3 (I think).  Only using the webui to do

[2019-08-09 08:18] akx opened #67 "Excalibur's data directory is created in HOME"
I consider it bad form for Excalibur to create a user-visible folder in the home folder (`/Users/akx/excalibur` on my Mac, for instance).

It'd be better to use e.g. [`appdirs`](https://pypi.org/project/appdirs/) to figure out the "user data" directory, and create the Excalibur directory there.

[2019-08-20 17:01] henrysouchien commented on #37
hi - I am trying to set the PATH sorry if this is dumb question - how do i set this variable or what is the name? I keep getting this error message

[2019-08-23 12:23] Sanket-Shirode opened #68 "Command not found error on ubuntu"
unable to use camelot and excalibur commands from commandline in ubuntu

[2019-08-27 18:01] #68 closed

[2019-09-06 06:24] yuanwu-bujin opened #69 "page : Refresh !!!"
Refresh!
Please wait while the pages are converted to images. Refresh again in some time.
![捕获](https://user-images.githubusercontent.com/52151426/64405575-15340e80-d0b2-11e9-9ac7-217cea3e7b2b.JPG)

[2019-09-06 09:55] yuanwu-bujin commented on #41
i use v0.4.2 also notice "refresh"

![捕获](https://user-images.githubusercontent.com/52151426/64419410-6f8f9800-d0cf-11e9-9862-3fe1234c002e.JPG)

[2019-09-10 07:42] siddharthshah3030 commented on #68
@Sanket-Shirode
facing the same issue,
what's the fix?

[2019-09-10 09:47] Sanket-Shirode commented on #68
Used the packaged excalibur application
and started it using the executable present in the application

[2019-09-11 22:23] cmkumar87 opened #70 "Is there a way to run excalibur from command line or batch mode?"
I am trying to run it on Mac.  I am ok to also set it up on my linux box if that works better.

[2019-09-18 16:42] Alalalalaki opened #71 "Please make sure that Ghostscript is installed"
I am on mac os and have installed Ghostscript by brew. The error is below

  File "/Users/.../anaconda3/envs/py37/lib/python3.7/site-packages/camelot/ext/ghostscript/__init__.py", line 24, in <module>
    from . import _gsprint as gs
  File "/Users/.../anaconda3/envs/py37/lib/python3.7/site-packages/camelot/ext/ghostscript/_gsprint.py", line 258, in <module>
    raise RuntimeError("Please make sur

[2019-09-26 09:45] andyg101 commented on #59
I am also experiencing this issue

[2019-09-27 11:58] rohitspace commented on #69
I am stuck at the Refresh page.
![Capture](https://user-images.githubusercontent.com/40601559/65767667-1eae1500-e14c-11e9-8a53-1cfbdcaae441.JPG)

Please solve issue

[2019-09-29 12:04] Qadez commented on #24
I can't run the provided command can you help me how to use the command line

[code]

[2019-10-03 09:56] rokmokorel commented on #37
@henrysouchien took me a while. You should find PATH environment variable, then click edit. Then you can add "C:\Program Files\gs\gs9.26\bin" to the environment variable. You will need to restart after.

[2019-10-03 17:13] SevlaMare commented on #59
get this error with fresh virtual env, in python 2.7 too.

[2019-10-04 01:57] henrysouchien commented on #37
Thank you so much!! I will try it out

Sent from my iPhone

[2019-10-14 04:09] vinayak-mehta opened #72 "Add tk along with ghostscript in the "using pip" section of installation"

[2019-10-14 04:10] vinayak-mehta opened #73 "Convert "grant all on" in the mysql setup section to uppercase"

[2019-10-14 04:14] vinayak-mehta opened #74 "Update FAQ?"
With questions that come up for first time users.

[2019-10-14 04:14] vinayak-mehta opened #75 "Add link to installation of external deps in the contributor's guide"

[2019-10-14 18:17] #75 closed

[2019-10-15 07:15] vasantvohra commented on #41
**Not fixed yet. :(**
![excalibur](https://user-images.githubusercontent.com/20479333/66808691-61902b00-ef49-11e9-9f8e-10df0e1306ac.PNG)
![excalibur bug](https://user-images.githubusercontent.com/20479333/66808692-6228c180-ef49-11e9-9a2e-666ba177c8ed.PNG)
![image](https://user-images.githubusercontent.com/20479333/66808746-7f5d9000-ef49-11e9-92ae-ac3217f1a7d2.png)
Does it works well on linux syste

[2019-10-15 12:30] vinayak-mehta commented on #69
Can you please post the traceback you got on the console where you ran `excalibur webserver`?

[2019-10-15 12:31] vinayak-mehta commented on #70
You can try setting it up on your Linux box, we've been facing some issues with Windows installations.

[2019-10-15 12:31] #70 closed

[2019-10-15 12:33] vinayak-mehta commented on #67
You can set `excalibur_home` to change the default data directory.

[2019-10-15 12:33] #67 closed

[2019-10-16 12:21] akx commented on #67
Where would that configuration file be placed?

[2019-10-25 07:30] #73 closed

[2019-10-25 11:21] manigandan-dorairaj opened #78 "Unrecoverable error, exit code 1"
I am getting this error in the command prompt after uploading any PDF.
The webpage shows Refresh message but nothing happens after that.

[code]

[2019-10-29 21:13] smondragon-intera commented on #59
Had the same error. Fixed by installing camelot from repo as mentioned here https://github.com/atlanhq/camelot/issues/262

[2019-10-29 22:38] mohitsws commented on #60
Is there a way to check the errors on the console. Debug Mode shows as off and no error shows up.

[2019-10-30 21:41] rrapstine opened #79 "Error:root:name 'self' is not defined"
I am attempting to upload a PDF and have excalibur parse through all pages. I am taken to the refresh page, where nothing happens no matter what I do. Terminal output shows this...

`ERROR:root:name 'self' is not defined
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/excalibur/tasks.py", line 27, in split
    extract_pages, total_pages = get_pages(file.filepath,

[2019-11-05 07:20] Qadez commented on #24
any help ?

[2019-11-05 09:34] Bart-van-Ingen commented on #55
I am also interested in this feature! Has anyone of the developers had time to develop this?

[2019-11-14 21:42] vinayak-mehta commented on #65
Please post the settings you used (you can get it from the Rules view) or with a screenshot, along with the PDF.

[2019-11-14 21:42] #65 closed

[2019-11-14 21:43] vinayak-mehta commented on #66
Looks like a problem with the PDF.

[2019-11-14 21:43] #66 closed

[2019-11-14 21:50] vinayak-mehta commented on #71
Yes, please make sure the ghostscript executable is available on your PATH.

[2019-11-14 21:50] #71 closed

[2019-11-14 22:04] vinayak-mehta commented on #67
My bad, you can set `EXCALIBUR_HOME` in your environment before installing the package to fix this. https://github.com/camelot-dev/excalibur/blob/master/excalibur/configuration.py#L92

[2019-11-14 22:22] vinayak-mehta commented on #78
Too less information to reproduce bug.

[2019-11-14 22:22] #78 closed

[2019-11-14 22:27] vinayak-mehta commented on #59
Please try the @smondragon-intera's solution and reopen if you still face the issue.

[2019-11-14 22:27] #59 closed

[2019-11-14 22:27] vinayak-mehta commented on #60
It should show up.

[2019-11-14 22:29] vinayak-mehta commented on #79
Looks like a bug.

[2019-11-14 22:30] vinayak-mehta commented on #24
This is not implemented yet.

[2019-11-14 22:31] vinayak-mehta commented on #55
Not yet

[2019-11-14 22:32] vinayak-mehta commented on #55
@answerquest This will be a good enhancement, just need to find some time to implement it in camelot.

[2019-11-15 07:09] NMItools opened #80 "ERROR:root:list index out of range (only when using "LATTICE" with CUT TEXT option)"
Hi,

I have a problem to extract some tables from one file using "LATTICE" method with CUT TEXT option. I have extracted from the original PDF one page that is quite stubborn (could you suggest me how to attach/share it here?) and I always get this message:
[code]
When I am not using CUT TEXT (false) then extraction is successful but the table is not correctly parsed (fields which should be separa

[2019-11-15 13:54] randomstability commented on #66
Have you considered that maybe this invalid character is a technique to prevent copying of the data/pdf?  It seems like it would be really helpful to simply skip parsing a problematic character, and notify the user of errors seen, indicating the output may be invalid due to invalid content in the source PDF.

[2019-11-21 07:05] geekypandey commented on #72
Can I please take this issue?
The link attached with it should be same as in the documentation in installing dependencies for camleot-py docs? https://wiki.python.org/moin/TkInter <-- This link?

[2019-11-25 04:12] chunlei2 opened #81 "How to change the default port"
Hi, #32 #33 Related to these two issues. Still don't know how to change the default port. I was using excalibular 0.4.2. I changed the web_server_port in default_excalibur.cfg, but doesn't solve this problem. The error message is as below:
[code]

[2019-11-26 10:30] KosmetikOn commented on #68
could you please elaborate on what is the packaged excalibur app and how to get it?
thanks!

[2019-12-04 01:58] dvsantana commented on #47
I'm having the same problem.

Tried the other fixes but to no avail.
Does anyone know how to fix this?

![image](https://user-images.githubusercontent.com/57996172/70105659-40ca8480-1620-11ea-8048-2da7ca5ee035.png)

[2019-12-16 20:44] robroc commented on #69
I'm also getting this error. In two PDFs, the program gets stuck on this refresh page.

It works when you re-extract the data and choose Stream instead of Lattice. It would be helpful to have a warning about this.

File attached.
[2004d.pdf](https://github.com/camelot-dev/excalibur/files/3970023/2004d.pdf)
Pages 10 and 12.

Full trace:

[code]

[2019-12-16 21:09] robroc opened #82 "Table selector is opaque"
Excalibur 0.4.2
Python 3.6.7
Installed in a conda environment
Windows 7

The table selector is opaque, making it impossible to see where the columns are in case more need to be added.

Screenshot:
![Capture](https://user-images.githubusercontent.com/1219001/70943262-727b1c80-201e-11ea-9f2b-c3cb76b4f0cb.PNG)

[2019-12-22 00:23] mihaiblandu opened #83 "glyphs are not detected correctly"
(cid:49)(cid:88)(cid:80)(cid:72)(cid:79)(cid:72)(cid:3)(cid:250)(cid:76)(cid:3)(cid:83)(cid:85)(cid:72)(cid:81)(cid:88)(cid:80)(cid:72)(cid:79)(cid:72)(cid:3)(cid:68)(cid:79)(cid:72)(cid:74)(cid:259)(cid:87)(cid:82)(cid:85)(cid:88)(cid:79)(cid:88)(cid:76)
instead of correct simbols is  not adapting  to different font  like time new roman and so on

[2020-01-23 06:41] mani2106 commented on #81
Excalibur initializes a config file when you try to run for the first time, you can do that with
`excalibur initdb` [from here,](https://excalibur-py.readthedocs.io/en/master/#using-excalibur) If you are doing this for the first time, You'll get a message that the config was created on some PATH. The changes can be done there as mentioned in **Changes to make in config**, but if you cannot find it

[2020-01-24 17:37] chunlei2 commented on #81
Thanks, it worked!

[2020-02-04 10:54] huks0 commented on #55
I am also super interested in that feature. Do you know if there is any framework which allows to extract tabular data from image data like png or jpg? As I know tabula and excalibur allow only to extract from pdfs right?

[2020-02-05 08:46] cjw296 opened #86 "python-camelot and camelot-py is confusing"
It would appear both of these packages are identical (?) and published from this project.
Given that pypi is becoming an increasing target for package squatters and other security concerns, please could you pick one and kill the other one off?

[2020-02-05 08:51] cjw296 opened #87 "OSError: dlopen(libgs.so, 6): image not found on macOS / homebrew"
I followed in installation instructions but getting this:

[code]

Version information:

[code]

What's likely to be the problem here?

[2020-02-06 04:16] cmbirk opened #88 "Not extracting all table zones"
I'm only getting 3 tables extracted out of the total 8 in this pdf:
[absentee.pdf](https://github.com/camelot-dev/excalibur/files/4163169/absentee.pdf)

I've selected all tables separately, but I'm only getting `Total Returned Ballots`, `Ballots Cast by Party`, and `Registration Statistics by Party`. I'm using the Lattice flavor and have tried the extraction a few times. It seems to be a pretty we

[2020-02-09 00:28] ForestJohnson commented on #44
I did make a docker image of this thingy for my own use

https://git.sequentialread.com/forest/excalibur-docker

do with that what you will...

[2020-02-17 19:21] jrthorstensen opened #90 "werkzeug.utils not werkzeug"
excalibur would not start on my linux Fedora 29 system.  here was the message:

.local/bin/excalibur
Traceback (most recent call last):
  File ".local/bin/excalibur", line 5, in <module>
    from excalibur.cli import cli
  File "/home/thorsten/.local/lib/python3.6/site-packages/excalibur/cli.py", line 12, in <module>
    from .www.app import create_app
  File "/home/thorsten/.local/lib/python3.6/s

[2020-02-17 19:37] Axo-Fv commented on #90
Thanks. Worked for me.

[2020-02-19 11:20] SiddhantArya commented on #90
I am also having a similar issue on Mac.
Can you help me set this up so that there are no dependancy issue?

[2020-02-23 23:05] guysbryant opened #91 "Install is broken"
I cloned the repo and ran pip install . and this is the output:
<img width="932" alt="Screen Shot 2020-02-23 at 18 02 34" src="https://user-images.githubusercontent.com/15893869/75121912-adc14980-5666-11ea-9a03-fdb25cf1166d.png">

As you can see, when I tried to run excalibur initdb, zsh couldn't find the excalibur command.
Bash didn't do any better and restarting the terminal didn't make a differ

[2020-02-25 15:50] LuxGiammi commented on #90
@SiddhantArya simply edit the file views.py (in your case `/Users/siddhantarya/opt/anaconda3/lib/python3.7/site-packages/excalibur/www/views.py`) and replace the line `from werkzeug import secure_filename` with `from werkzeug.utils import secure_filename`

[2020-02-29 02:36] Bandit253 opened #93 "Table extract not working"
Sorry for the generic title but couldn't think of better.
Just watched a presentation of PyCon AU and thought that is exactly what I need to scan daily change reports reports for my org.
all installed, was getting odd result in Python so tried it in Excalibur only to see the 2 cells randomly.
I am hesitate to send the file being potentially sensitive information.
![image](https://user-images.githu

[2020-02-29 02:45] Bandit253 commented on #93
Just to add upon reviewing further the docs I see I missed the , "process_background=True" which did get closer but still no luck :(
![image](https://user-images.githubusercontent.com/9003261/75599501-99af9900-5af9-11ea-9749-4d3b7ae7bad6.png)
![image](https://user-images.githubusercontent.com/9003261/75599510-aa600f00-5af9-11ea-81a2-5c064517e482.png)

[2020-02-29 02:59] Bandit253 commented on #93
OK I think I have solved it,
**flavor='stream'**

Is there an easy was way to strip \n\r ?

[2020-02-29 02:59] #93 closed

[2020-03-09 05:37] IsaiahDupree33 opened #94 "UnicodeEncodeError: 'charmap' codec can't encode character '\u2010' in position 1609: character maps to <undefined>"
I am having trouble getting Excalibur to work.
I am using excalibur win v0.40.

I finally got it to load the pdf.

Attached is the pdf file is used.
https://www.mediafire.com/file/75kf0cdrx4hpb3m/Kirkpatrick_2019_ApJS_240_19.pdf/file

side note: When I click on autodect tables, it covers the whole page.

![columns](https://user-images.githubusercontent.com/61951433/76185402-1f3be480-619d-11ea-955d

[2020-03-11 01:23] belisards opened #95 "ImportError: cannot import name 'secure_filename' after `excalibur initdb`"
I can't start the database after running the command: _excalibur initdb_

I get this error:

~$ excalibur initdb
Creating new Excalibur configuration file in: /home/localhost/excalibur/excalibur.cfg
Traceback (most recent call last):
  File "/home/localhost/.local/bin/excalibur", line 5, in <module>
    from excalibur.cli import cli
  File "/home/localhost/.local/lib/python3.6/site-packages/excali

[2020-03-14 11:08] fffact commented on #95
same here.
found [this issue](https://github.com/pallets/werkzeug/issues/1714) which seems related.
will investigate further.

[2020-03-20 15:29] arky commented on #95
@fffact  @belisards Looks like camelot-dev doesn't work with latest werkzeug version. Try using previous version with:

`pip install werkzeug==0.16.1

Let me know if this works for you.
`

[2020-03-20 20:45] hirensuraiya commented on #95
Was having the same issue. Fix worked for me. Thanks @arky!

[2020-03-20 20:58] hirensuraiya commented on #69
Mine's stuck on refresh too

Traceback (most recent call last):
  File "c:\users\______\appdata\local\programs\python\python38-32\lib\site-packages\excalibur\tasks.py", line 44, in split
    with Ghostscript(*gs_call, stdout=null) as gs:
  File "c:\users\______\appdata\local\programs\python\python38-32\lib\site-packages\camelot\ext\ghostscript\__init__.py", line 90, in Ghostscript
    return __Gho

[2020-03-21 03:22] arky commented on #95
@vinayak-mehta @dimitern  Am assuming there are some PRs that could resolve this problem?

https://github.com/camelot-dev/excalibur/pull/92

[2020-03-21 10:25] vinayak-mehta commented on #95
Hello everyone. Yes @arky, I haven't been getting time to work on these projects. But I'll check out the PRs, merge them and create a release today.

[2020-03-21 10:29] fffact commented on #95
@arky yes it works. thanks!

[2020-03-21 11:22] #95 closed

[2020-03-21 11:29] #91 closed

[2020-03-21 11:41] vinayak-mehta commented on #95
Please install the latest version using `pip install --upgrade excalibur-py`.

[2020-03-21 11:42] vinayak-mehta commented on #90
Please install the latest version using `pip install --upgrade excalibur-py`.

[2020-03-21 11:42] #90 closed

[2020-03-21 11:43] vinayak-mehta commented on #91
Please install the latest version using `pip install --upgrade excalibur-py` and try using the CLI using `python -m excalibur --help`.

[2020-03-21 11:45] vinayak-mehta commented on #86
Noted, I've deleted the first one.

[2020-03-21 11:45] #86 closed

[2020-03-21 11:47] vinayak-mehta commented on #72
Sorry for the super late reply. Please take this up if you're still interested.

[2020-03-21 12:41] arky commented on #95
Thanks @vinayak-mehta for quick fix.
BTW Am trying to reach to excalibur team. Do you have IRC or slack? Please let me know. Thanks!

[2020-03-21 12:45] vinayak-mehta commented on #68
Please use `python -m excalibur`.

[2020-03-21 12:46] vinayak-mehta commented on #66
That seems like a good idea, I'll add it to the backlog.

[2020-03-21 12:47] vinayak-mehta commented on #95
@arky There's a gitter channel https://gitter.im/camelot-dev/Lobby

[2020-03-22 20:33] sulfo commented on #29
Having the same issue after running it for the first time.
From safari:
[code]
And chrome
[code]

I've attached the PDF I tested with.

Might think it's due to stream. Lattice fixed it for me, or maybe it's another bug.

[COVID19-overvaagningsrapport-20032020.pdf](https://github.com/camelot-dev/excalibur/files/4366290/COVID19-overvaagningsrapport-20032020.pdf)

[2020-03-24 03:07] zhengyyi commented on #43
after I change the code according to [close_fds incompatibility on windows platform](https://github.com/vm-asd2015/excalibur/commit/f5f6de13a889e08add7ad720fc395f3076c2abce), I encounter this problem:
[code]

[2020-03-26 19:43] cryptokiller23 commented on #5
I have the same issue. Has there been any progress made on this bug?

[2020-03-27 13:14] arky opened #99 "Excalibur Windows 32-bit builds"
Excalibur windows (0.4.0) fails to run on 32 bit Windows 7 operating systems.  Tested using latest [windows release](https://github.com/camelot-dev/excalibur/releases/download/v0.4.0/excalibur-win-v0.4.0.zip)

[2020-04-04 21:57] hirensuraiya commented on #69
Updated to version 0.4.3
Sill stuck and shows as processing

`127.0.0.1 - - [04/Apr/2020 17:42:01] "GET /workspaces/d007506c-9326-45cb-8e67-53dd74397b94 HTTP/1.1" 200 -
127.0.0.1 - - [04/Apr/2020 17:42:02] "GET /workspaces/d007506c-9326-45cb-8e67-53dd74397b94 HTTP/1.1" 200 -
127.0.0.1 - - [04/Apr/2020 17:42:02] "GET /workspaces/d007506c-9326-45cb-8e67-53dd74397b94 HTTP/1.1" 200 -
127.0.0.1 - - [04

[2020-04-23 04:34] mimikaan opened #100 "Column are not at proper place"
multiple rows combined in one and columns are not at proper place

[2020-04-24 10:41] hariteja97 opened #101 "ValueError: close_fds error after uploading the pdf file"
When I run the code in windows 8.1 system.
After uploading a document.
it goes on for an infinite refresh mode.
It shows the error

2b-b5e690e595df HTTP/1.1←[0m" 200 -
Traceback (most recent call last):
  File "C:\Users\MYPC\Desktop\excalibur-master\excalibur\executors\sequential_ex
ecutor.py", line 12, in execute_command
    subprocess.check_call(command, stderr=subprocess.STDOUT, close_fds=True)

[2020-04-24 11:07] #101 closed

[2020-04-24 11:15] hariteja97 commented on #61
@vinayak-mehta  Please help me as I'm facing the same issue in my windows system. its windows 8.1

[2020-04-30 03:34] ahbon123 opened #103 "Only display the first page of pdf file after upload"
I have successfully run the following code:

[code]

But after I upload a pdf file, but it only display and process the first page of the file.
Someone could help to deal this issue? Thanks.

[2020-04-30 03:54] ahbon123 commented on #29
I get same problem as @sulfo, did you solve problem?

[2020-04-30 08:26] sulfo commented on #29
@ahbon123 Urhm yes and no. Got it working with Lattice (you choose it before it starts scanning for tables) and in the Chrome browser.

Stream only work some times, but I haven’t figured out why.

[2020-05-05 03:38] xubiuit opened #104 "ImportError: cannot import name 'secure_filename' from 'werkzeug when using "excalibur initdb""
Hi guys,

I faced the issue when trying `excalibur initdb` with the package which installed via pip.
After checked, I change this line
https://github.com/camelot-dev/excalibur/blob/395b9ef2627e53a160ed8eef87a523971cab7694/excalibur/www/views.py#L10
to `from werkzeug.utils import secure_filename` and reinstall via git clone repo in my localhost. Everything seems okay after that.

Please check to co

[2020-05-08 04:03] #103 closed

[2020-05-30 16:32] spiderino opened #105 "Greek Chars"
I am trying to read a pdf with tables containing greek characters. Is there anyone thar can help in this?

[2020-06-01 19:38] harish2704 opened #106 "[Feature request]: Integrate with Tesseract ocr and allow image uploading"
Tesseract can OCR an image and convert it into a PDF with image + text layer.
So, if we integrate Tesseract with excalibur,  we will be able to extract tables directly from Images.

I tried this idea and can confirm that it will work.  A live POC version is available here http://ocr.harishk.in/
fork for this POC branch is here: https://github.com/harish2704/excalibur/tree/feat-tessearct-ocr-integr

[2020-06-03 14:46] arky commented on #99
@vinayak-mehta I'll be happy to fix this issue with little guidance from your end.

[2020-07-05 02:20] mikes2nd commented on #82
I am also getting this same issue on Windows 10

[2020-07-05 02:57] mikes2nd commented on #69
All pdfs stuck in refresh...

![Untitled](https://user-images.githubusercontent.com/12437703/86524533-b7935e80-be49-11ea-8237-6faffe27f563.jpg)

[2020-07-16 16:31] arky commented on #99
@vinayak-mehta This issue could be resolved by adopting github actions build workflow https://github.com/camelot-dev/excalibur/pull/107

[2020-07-16 18:57] vinayak-mehta commented on #99
Thanks for the PR! Checking it out.

[2020-07-16 19:13] vinayak-mehta commented on #99
@arky What is the error that it fails with?

[2020-07-16 19:36] vinayak-mehta commented on #99
I've triggered a workflow run, are you able to see it? https://github.com/camelot-dev/excalibur/actions/runs/171797774

[2020-07-16 19:39] vinayak-mehta commented on #99
Oh no, I think the artifacts aren't being zipped correctly.

[2020-07-16 21:01] vinayak-mehta commented on #99
@arky Can you try one of the Windows package from here: https://github.com/camelot-dev/excalibur/actions/runs/171875604 and see if you face any issues? I tried the Linux one and can confirm that it works.

[2020-07-16 21:05] vinayak-mehta opened #108 "Update package workflow to run on each tag push"
Opening this issue for my future reference.

The workflow should basically run whenever a tag is pushed. If possible, it should also create a release on GitHub with all the build artifacts.

[2020-07-17 05:28] arky commented on #99
@vinayak-mehta I'll test Windows 32 and 64 builds shortly.

[2020-07-17 07:46] arky commented on #99
@vinayak-mehta I guess we need to ensure the python 32bit is running by default for 32bit builds to work properly?

MS Windows 10 64bit : Test Successful
MS Windows 7 32bit: Test Failed
[code]

[2020-07-17 07:50] arky commented on #99
@vinayak-mehta  64bit python is used on windows-32bit builds  https://github.com/camelot-dev/excalibur/runs/879409166?check_suite_focus=true

[code]

[2020-07-17 10:21] vinayak-mehta commented on #99
Let me add `x86` Python for 32-bit Windows in the build matrix.

[2020-07-17 10:30] vinayak-mehta commented on #99
@arky Can you check the 32 bit version from here https://github.com/camelot-dev/excalibur/actions/runs/172556185

[2020-07-17 13:46] arky commented on #99
Excalibur launches on windows 32 bit machines. Resolved with https://github.com/camelot-dev/excalibur/commit/dac340f6a46398ef59958f29cb7ff86651814e75

Thanks @vinayak-mehta

[2020-07-17 13:46] #99 closed

[2020-07-17 13:54] arky commented on #47
@dvsantana Today I have tested latest build of Windows 10 (64bit) and Windows 7 (32bit) machines. They both showed the same error. Installing the correct version of ghostscript binary (AGPL) fixed the error.

https://www.ghostscript.com/download.html

[2020-07-17 15:45] vinayak-mehta commented on #99
@arky Thanks for your help with the PR and testing the packages! I'll create a release now.

[2020-07-17 17:42] arky opened #109 "Open Excalibur in default browser"
Please open a browser window with Excalibur on startup. This is most common usability feature that would really nice to have.

This could be implemented using [click.launch](https://click.palletsprojects.com/en/7.x/api/#click.launch) or [webbrowser](https://docs.python.org/3/library/webbrowser.html) module.

[2020-07-17 22:23] vinayak-mehta commented on #109
This is a good idea! Let me create a PR for this.

[2020-07-21 11:28] Akhurana01 opened #112 "[Flavor] - Selecting flavor while extracting table which requires to process background."
I have a pdf which has multiple tables having some cells with margins having colored background and some having no margin at all, only having the background color difference. While selecting the flavor as lattice or stream the alignment of the extracted text is getting disturbed a lot in case of extracting without margin cell values from tables. I even tried the same with process_background = True

[2020-07-21 15:20] vinayak-mehta commented on #112
I can't help without looking at an image of what you're describing. You can try selecting a table area manually and see if that improves the output.

[2020-07-21 15:20] #112 closed

[2020-07-22 18:12] ragsta commented on #69
same as above, stuck on every pdf.
![image](https://user-images.githubusercontent.com/12233725/88212471-9d35ef00-cc57-11ea-8afe-f39842ff8cf9.png)

[2020-07-25 15:29] arky commented on #106
@harish2704 Looking forward to your PR. This is a important feature enhancement.

[2020-07-25 15:36] arky opened #113 "[UI/UX] Loading Animation ..."
Currently Excalibur shows a manual 'Refresh' page for long running process or failures (Reference:
https://github.com/camelot-dev/excalibur/issues/69). This is not a good UX. We need a better loading screening with an animation to let users know processing in happening or failed.

Perhaps the animation would make waiting enjoyable, if the process fails show an error and take the user back to the p

[2020-07-25 18:14] harish2704 commented on #106
@arky : The  branch  https://github.com/harish2704/excalibur/tree/feat-tessearct-ocr-integration specified in my first comment is already in a "working" condition.
I could have sent an PR at that point, but I didn't do that because, I believe my implementation doesn't meet necessary quality as it  doesn't complies with the architecture of this project.
Thus, I need help / suggestion from Author of

[2020-07-26 05:04] arky commented on #106
I hope @vinayak-mehta you could review and guide @harish2704 when you have a free moment.

[2020-07-27 10:19] Akhurana01 commented on #112
I've sent an email to you. Thanks!

[2020-07-28 23:39] vinayak-mehta opened #114 "Add dark mode"

[2020-07-28 23:41] vinayak-mehta commented on #104
This shouldn't be an issue with the latest release.

[2020-07-28 23:41] #104 closed

[2020-07-28 23:45] vinayak-mehta commented on #52
Please make sure you have the correct ghostscript for your OS (32 / 64 bit).

[2020-07-28 23:45] #52 closed

[2020-07-30 13:22] MartinThoma opened #115 "Expose flag_size"
If you take [this example](https://github.com/MartinThoma/algorithms/blob/master/PDF/PDF-export-example.pdf), then you need to set two flags to get a decent output:

* flavor="stream"
* flag_size=True

The first one seems to be handled automatically, but the second one has a major mistake. Would it be ok to add a checkbox for that? (I can also do it, but I want to know first if this is desired)

[2020-08-05 07:38] rairj opened #116 "Files storage"
I'm wondering where the uploaded files are stored. I want to delete the files but find no buttons on the page.

[2020-08-06 06:00] arky opened #117 "Ghostscript Error, Stuck in Processing"
<details>
<summary>
Using the latest master, we can not extract data on latest Ubuntu 64 (LTS). The Excalibur is stuck in 'Processing  Step'.

[code]
</summary>
![Screenshot from 2020-08-06 12-58-42](https://user-images.githubusercontent.com/808895/89496463-96c17e80-d7e4-11ea-89f3-91e8e8ad9035.png)

</details>

[2020-08-08 17:28] arky opened #118 "[Docs] Improve Documentation Navigation"
Reading Excalibur documentation can be difficult as you have to constantly go back to previous page to the parent document and then select the next section.

It would be good to have 'Next' , 'Previous' links to take you to next page in the current table of contents or to next section.

[2020-08-13 20:26] #109 closed

[2020-08-13 20:33] #72 closed

[2020-08-13 20:44] vinayak-mehta commented on #106
Hey folks. Really sorry for the late reply.

@harish2704 Can you please add instructions on how to run your fork? Do I need to install tesseract and have it available on the PATH? It would also help if you can show us the extraction output on some image-based pdfs. You can use imagemagick / ghostscript on a pdf from the [camelot tests dir](https://github.com/camelot-dev/camelot/tree/master/tests)

[2020-08-14 18:20] harish2704 commented on #106
Hi @vinayak-mehta , Thanks for your time and response.
Regarding your questions:

I just added uploaded a dockerfile which I was using while deploying the demo site. Please see it here https://github.com/harish2704/excalibur/blob/feat-tessearct-ocr-integration/Dockerfile

I just started the demo container again. You can see that in action here https://ocr.harishk.in/ . Feel free to test any files

[2020-08-17 13:10] Sharas- commented on #117
web interface gets stuck in infinite refresh loop when extracting any PDF.

[2020-08-24 16:13] arky commented on #106
@harish2704 @vinayak-mehta OCRmyPDF seems to have implemented tesseract integration, worth taking a look https://github.com/jbarlow83/OCRmyPDF

[2020-08-26 19:07] harish2704 commented on #106
Hi @arky : Thanks for your message.

I checked the project you mentioned. The description of the project says

In my understanding, this is an built-in feature of Tesseract OCR. That is, if we set output format as PDF, we will get a PDF with additional Text layer.

Thus, without clearly understanding the real benefit of using "OCRmyPDF" , I will not suggest to integrate it

[2020-08-27 20:19] the-ronstar opened #119 "content of 1st row of excel table merged with the header"
I processed a table with grids with Excalibur and for some reason the content of the first row appear together with the header content on the header row and the first row appears as empty. The rest of the content appear as normal.

[2020-08-28 14:26] GeoGyro opened #120 "excalibur initdb - SyntaxError: invalid syntax"
I'm trying Excalibur in Debian 9.13. I'm following the documentation and installed Ghostscript before. When I run `pip install excalibur-py`, terminal returns me :

`Successfully installed Click-7.1.2 Flask-1.1.2 PyPDF2-1.26.0 SQLAlchemy-1.3.19 Werkzeug-0.16.1 amqp-2.6.1 billiard-3.6.3.0 camelot-py-0.8.2 celery-4.4.7 chardet-3.0.4 configparser-3.5.3 et-xmlfile-1.0.1 excalibur-py-0.4.3 itsdangerous

[2020-09-08 20:08] aakashlpin commented on #117
Was trying to Dockerize and host `excalibur` and ran into this same issue. This makes the web interface non-deployable as well.

[2020-09-08 23:42] vinayak-mehta commented on #117
Thanks for working on the PR! I'm getting closer to ghostscript in terms of todos and will try to look into this issue and the associated PR today.

[2020-09-11 09:13] swapnilwpawar commented on #47
i am getting same error. please resolve

[2020-09-26 05:03] nikhilweee commented on #116
I was wondering the same. As it turns out, excalibur stores all data within the directory where it was installed. The uploaded files are in the `www/static/uploads` directory. To find out the install location of excalibur, use `$ pip show excalibur-py`

In my case, all uploads were stored in `/home/<username>/.local/lib/python3.8/site-packages/excalibur/www/static/uploads`

[2020-09-28 05:37] Semnodime opened #125 "FeatureRequest: Option to Exclude Pages from Analysis"
Rendering a pdf preview is super handy for quick selection of tables within a page.
Thank you for that functionality.

In addition, the preview could also be utilized to allow for quick selection of pages for further processing within a huge document.
(There are some documents with 50+ pages which contain tables on most pages with few exceptions.)

When leaving an uploaded page untouched (that is,

[2020-10-12 11:15] baptmont commented on #82
Same thing was happening to me.
I fixed it by adding
` imagepaths[page] = imagepaths[page].replace("\\", "/")`  in the /workspaces/<string:file_id> endpoint.

[2020-10-13 09:07] baptmont commented on #60
Have you considered using the message flashing provided by Flask and jinja?
https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/

[2020-10-20 09:54] gitowiec opened #127 "[Question] Disabling database"
Is there any way to configure Excalibur to not use its database? I would like to not keep track of the converted documents.

[2020-11-06 18:00] boiko opened #128 "Having a hard time parsing documents from Curitiba's town hall"
Hi

I have started a little personal project to collect, monitor and consolidate governmental data (specially for the town where I live - Curitiba), and some interesting numbers are available but in PDF format.

I have tried many different parameters in excalibur, but I am having a hard time making it break the rows correctly.
Since there was a link on the WebUI to report extraction problems, here

[2020-11-09 14:22] vinayak-mehta commented on #47
I've opened a PR on camelot which will remove ghostscript as a dependency: https://github.com/camelot-dev/camelot/pull/198 I'm working towards a release, it's been slow because life is getting in the way.

[2020-11-09 14:24] vinayak-mehta commented on #106
I've opened a PR on camelot which will add OCR support using EasyOCR: https://github.com/camelot-dev/camelot/pull/209 I'm working towards a release, it's been slow because life is getting in the way.

[2020-11-18 19:04] paulsanduleac commented on #105
Similar issue with Romanian special characters

[2020-11-18 22:19] michellebao commented on #117
Still running into the infinite refresh loop error :(

[2020-11-19 00:14] michellebao commented on #117
^^ Nevermind, resolved by using the version on master.

[2020-11-19 00:17] michellebao commented on #117
^^ Nevermind, resolved by cloning what was on master instead of using the executable from latest release.

[2020-11-30 14:16] aahnik opened #129 "Data extracted wrongly"

[2020-12-18 15:41] dygordon opened #131 "UI-created rules set row_close_tol vs. row_tol, col_close_tol vs. col_tol"
Just downloaded and installed latest release.

I have found that if I set the group row tolerance in the text box in the UI, it doesn't seem to do anything.

I downloaded the JSON for the saved rule, and saw the key is called row_close_tol. Apparently it should be row_tol as in the advanced docs.

If I edit the JSON to have row_tol as the key and upload it in Rules, then apply the rule, this featu

[2020-12-27 06:54] arky opened #132 "Cross Browser System Tray Icon"
Creating a system tray icon would provide a visual representation of the state of the Excalibur program. Less tech savvy users are confused about what happens after the click on Excalibur program or what should they do if the program does not launch the browser window.

Pystray seems to provide cross browser system tray icon
https://github.com/moses-palmer/pystray/blob/master/docs/usage.rst#creati

[2021-01-19 12:00] gitowiec opened #133 "Save columns configuration"
I have a PDF that I need to process by Stream. I defined multiple columns on many pages, then I pressed "View and Download Data". After the check, I decided I need to make corrections. I started again from Files with "Extract Again". I used "Select Saved Rule" and loaded defined tables but columns were lost. It was disappointment because the PDF I work with has 20 pages and it was time-consuming t

[2021-01-19 12:24] gitowiec opened #134 "Rules with tables not saved for all pages"
I defined tables for 19 pages but when I do "Extract Again" and "Select Saved Rule" not everything loads correct. It looks like rules are saved only for 8 pages. But If I check on rules via http://0.0.0.0:5000/rules it looks like the JSON object has rules for all pages (table_areas have strings with numbers)

[2021-01-31 11:17] Shrey12111998 opened #135 "Download OPtion"
Pls make some modification in downloading option instead of downloading the zip file make it download the file only .

[2021-02-09 20:08] amithshambu opened #136 "excal is unable to detect the text"
hey there, in the attached pdf, excal is unable to detect the data in the table while it is able to detect the edge of the table.
[Purchase Order UKPO0016040.pdf](https://github.com/camelot-dev/excalibur/files/5953974/Purchase.Order.UKPO0016040.pdf)

[2021-02-11 07:17] rajshah1997 opened #137 "Unstructured Data"
Hi team, the camelot and excalibur is a great tool for extracting data from pdf but sometimes I get unstructured data.
Please give me some suggestion or a way to handle this type of problem below is the attachment you can see 
![pdftable](https://user-images.githubusercontent.com/73991817/107609972-68769d00-6c66-11eb-8c33-bdefbc24df9c.JPG)
![xlsxfile](https://user-images.githubusercontent.com/7399

[2021-02-23 14:18] shrutipb commented on #59
Hi i am also facing the same issue WindowsError: exception: access violation writing 0x00000080
i am using
window 10 64 bit
python 2.7 32 bit
gs 32 bit
tried all solutions

[2021-02-26 19:21] tnli commented on #41
Hello!
I have this exact same problem with version 0.4.3 in Windows 10.

The processing page refreshes while nothing else happens.

[2021-03-12 21:42] evan54 commented on #117
experiencing the same issue on Windows, installed Ghostscript using conda... any tips?

excalibur version 0.4.3
camelot version 0.8.2
the ghostscript library returns "Library\bin\gsdll64.dll"

let me know if you need other info that would be helpful

tried installing from source as well but didn't make a difference

[2021-04-03 17:02] arky commented on #106
@vinayak-mehta Could you pull this into an experimental branch. Perhaps this would allow @harish2704 to work on it.

Just a thought!

[2021-04-03 17:45] arky commented on #137
@vinayak-mehta Guess ML tools would help with such unstructured data. Thoughts?

https://djajafer.medium.com/pdf-table-extraction-with-keras-retinanet-173a13371e89

[2021-04-04 20:37] vinayak-mehta commented on #106
@harish2704 You should be able to use camelot+easyocr using the https://github.com/camelot-dev/camelot/pull/209 branch.

@arky Is that what you meant?

[2021-04-04 20:45] vinayak-mehta commented on #137
Yeah right now Camelot can't group rows together when there are no lines present. Adding support for horizontal line separators on the frontend or trying out ML might be some solutions, but it might take some time before I can do those experiments. @rajshah1997 If you want to give those solutions a try, please go ahead :)

[2021-04-14 08:54] NM1024 commented on #47
### **look here**

`Please make sure that Ghostscript is installed`

I have this problem too. Ghostscript was installed, but not good.

now, I fix this, download Ghostscript **win32** and reinstall, then its ok!!!

I used python3(win32), but provide Ghostscript(win64) is wrong thing, so change **Ghostscript-win64->Ghostscript-win32**.

[2021-04-16 03:14] rraju26 opened #138 "Running extraction across different pages"
Is there a way to duplicate the rules (columns / table areas) across pages to check that the rules work? If the pages are slightly out of alignment, currently the extraction process doesn't work. For instance, I was looking to extract the information from pages 4,5,6 from the attached file. I add the columns for the first page and can't seem to copy these onto the second and 3rd pages.
[FTSE ASEAN

[2021-04-17 10:00] arky commented on #118
@vinayak-mehta How do we ensure that we always grab the latest alabaster from their git repo?

-e git+https://github.com/bitprophet/alabaster/@3b68afcfe55a80508254b22904294100a160e6a7#egg=alabaster

[2021-04-17 10:07] arky opened #140 "[Docs] Document the default Excalibur configurations."
Please provide a extensive excalibur.cfg example file in the documentation. This would user to easily under the default configs and change them as needed.

[2021-05-04 17:59] akovia opened #142 "Selection box is opaque"
I've tried in 3 different browsers and I get the same result everywhere. Extensions were turned off. (Private Tab)

![Excalibur-opaque-selection](https://user-images.githubusercontent.com/10238233/117046395-a40d8a00-acde-11eb-8235-c83df13c3342.jpg)

[2021-05-09 08:16] gora commented on #25
Was trying to get started on Excalibur development by picking up low-hanging fruit.

I do not see the point of splitting up workspace.js as it seems to be used only in workspace.html. Or, has the splitting already been done?

[2021-05-16 06:37] ConMan05 commented on #142
This occurs on windows 10... I'm using Kubuntu 20.04 and it's running fine

[2021-06-04 03:52] TomProvence commented on #117
Hey brother,have you fixed this exception with camelot.ext.ghostscript._gsprint.GhostscriptError: -100? I had meet this problem when I try to deal with  two or more files at the same time

[2021-06-14 20:42] vinayak-mehta commented on #117
I'll look into this in the next couple of months.

[2021-06-15 22:21] Marc-9 commented on #142
Im having this same issue on windows, running on Mac I have no problems
Running excalibur from command line installed via pip

[2021-06-25 08:38] MahimaBarot commented on #41
facing same issue

[2021-08-08 11:55] kylelt opened #144 "Python 3.8 Fail to initdb Excalibur 0.4.3"
After installing excalibur ( Already have a working camelot installation)

`PS C:\Users\klewer> python.exe --version
Python 3.8.0`

`PS C:\Users\klewer> python -m camelot --version
__main__.py, version 0.10.1`

`PS C:\Users\klewer> python -m excalibur --version
__main__.py, version 0.4.3`

I tried to initdb, the following exception was raised:

`PS C:\Users\klewer> excalibur initdb
Traceback (most

[2021-08-13 17:56] designgrill commented on #144
This same issue happens on macOS as well. The change helped. Thanks, @kylelt!

[2021-09-02 06:32] nitsujri commented on #144
Also same, thanks for the help!

[2021-09-06 18:05] citizen422 opened #145 "Data structure wrong matched (Example inside)"
[Beispiel.pdf](https://github.com/camelot-dev/excalibur/files/7117387/Beispiel.pdf)

How can I trim the data recognition to get correct results from the example PDF provided?

1. Every first line has a number in the second (right) column
2. Text entries in the first (left) column might span up to three lines
3. Each page has to table areas (2-column-page-layout)

I appreciate evey help. It is some

[2021-09-29 21:39] Sargastico commented on #144
Same issue on happens on ubuntu, tested on: `Linux ubuntu 5.11.0-36-generic`. The fix by @kylelt works! Cheers!

[2021-10-19 18:57] jbsilva commented on #144
Same in Arch Linux (5.14.12-arch1-1) with Python 3.9

The fix worked.

[2021-11-22 02:29] juthaip opened #147 "I can't work with this code."
what happened ?
can you help me ?
What do I have to do ?
![image](https://user-images.githubusercontent.com/94505809/142792113-8d9ba1e5-bb28-4563-9448-8f2da508b3a6.png)
![image](https://user-images.githubusercontent.com/94505809/142792205-b786b280-2619-4807-a71e-a840cc653455.png)

[2021-11-27 14:17] answerquest opened #148 "Feature Request: subfolder path for deployment"
Feature request: Pls add a control in the .cfg for a subfolder under which the server can be deployed.

Presently it by default tries to deploy itself at top-level root. That's not feasible for situations like deployment on a server, as there might be other things occupying the top level there.

[2021-11-27 16:36] answerquest commented on #148
I was able to get the webpages to come under a subfolder by editing excalibur/www/views.py . Exporting the path in an env param before launching:

[code]
excalibur/www/views.py:
[code]
and so on. But getting stuck with the js/css libs importing. It keeps trying for /static/js/files.js
 etc and I'm not able to make it come under /excalibur1/.
Replacing in the url template .html files didn't help:
[

[2021-11-29 09:02] Jhen-wanderlust opened #149 "loads so slow when the pdf has a table."
always says Processing

[2021-12-02 09:48] keerthip1121 opened #150 "Unable to extract full table from PDF"
I was trying to extract table  and convert it to excel from a PDF file. But full table is not extracted when using the flavor 'stream'. The full PDF table was divided into 2 table dfs(which I concated later, no problem with that) but some part of table data is not extracted. With flavor 'lattice' full table data is extracted but format is preferable with 'stream'. Can u please help to extract full

[2021-12-19 11:13] muralikodali opened #151 "fails to start on python 3.10.1"
excalibur fails to load with python version 3.10.1 giving the below error :

[code]

[2021-12-21 13:05] Naga77777 opened #152 "from camelot.ext.ghostscript import Ghostscript ModuleNotFoundError: No module named 'camelot.ext'"
from camelot.ext.ghostscript import Ghostscript
ModuleNotFoundError: No module named 'camelot.ext'

i am unable to execute excalibur source code , i often getting above error

Please help me out

Thnaks in advance

[2021-12-23 16:23] Philippe-M commented on #151
Hello, i've the same problem

[2022-01-07 11:45] ArvinderKumar133 opened #154 "Excalibur not refreshing and stuck for all types of text PDF"
![Capture](https://user-images.githubusercontent.com/59528975/148539263-be074b74-fe54-43e0-8519-398092a27359.PNG)

I have to extract tables from PDF. Successfully installed Excalibur, GhostScript and Camelot but Excalibur stuck and keep refreshing.

Also not showing any error about what is the issue and how to resolve it.

Pls. check and suggest..

Tried at many different PDF of single page and mu

[2022-01-10 02:05] acracker commented on #152
![image](https://user-images.githubusercontent.com/16358913/148710780-ff2d8d14-459a-4950-a2dd-28f5815f88f6.png)

[2022-01-19 06:56] shubhangisingh2ey commented on #59
Facing the same issue even after installing camelot from repo as mentioned above

[2022-02-03 08:48] shiva-kumarj opened #155 "Ghostscript for Windows download link in the official website is broken"
The link to download Ghostscript **for windows** in the main website is broken [Error 404]
[(https://camelot-py.readthedocs.io/en/master/user/install-deps.html#install-deps)]

Could you provide an alternative ?
Much appreciated

[2022-02-04 16:15] CaptainStabs commented on #142
I don't remember seeing this issue until recently re-installing it on windows. The last time I had it installed (other than currently) was around April/May 2021

[2022-02-14 07:37] chenster commented on #41
It seems this project is dead

[2022-03-01 09:40] Andrflor commented on #151
You have an outdated version of configparser using a deprecated call that as been removed in python 3.10.
Using pip for example you can update with:

[code]

As a rule of thumb, try to keep you packages updated to prevent this kind of issues.

[2022-03-01 12:18] muralikodali commented on #151
`pip install configparser -u` giving the following output :

[code]
Above error `ImportError: cannot import name 'MutableMapping' from 'collections' (/usr/lib/python3.10/collections/__init__.py)` is shown again.

[2022-03-01 18:00] Andrflor commented on #151
You have two install of configparser.

Look the path

One is : ```/usr/lib/python3.10/```
And the other is : ```/home/murali/.local/lib/python3.10/```

You can check the versions of the packages installed with:
```pip freeze``` for root packages
and ```pip freeze --user``` for your user.

I guess that ```pip freeze --user``` will give you the latest 5.2.0
And the ```pip freeze``` has an outdated v

[2022-03-02 11:21] Andrflor commented on #151
My current config on python 3.10 root packages

[code]

As you can see i have configparser 5.2.0 even if the requirement says >=3.5.0,<3.6.0 and it's working like a charm...
Is it working for you?

Still, a configparser requirement version update is needed...

[2022-03-04 01:09] daniambrosio opened #156 "Stream does not detect similar tables in the same document"
Using Lattice on this bank statement pdf results in no tables found. I thought using backgorund = True for Lattice would work, but no.
So I tried with Stream. And it works for some pages. For others, it gets messy. I mean, the text from the second column is returned inside the first column (the one with the dates).

This one works fine (print of the PDF)
<img width="593" alt="image" src="https://u

[2022-03-04 15:58] ninja-lab commented on #104
I had to make this change today. I use anaconda on Windows 10, and had followed directions.

[2022-03-08 21:15] daniambrosio commented on #156
Anyone would suggest any approach here on this case?

[2022-03-17 17:42] MKuranowski commented on #151
Updating `cofigparser` unravels another dependency issue with `itsdangerous`; which in turn needs to be downgraded to 2.0.1.

[code]

[2022-04-12 03:33] kuirolo commented on #151
Apologies if this is a lot of terminal dumps and not a lot of pull requests. I'm fairly new to contributing.

This seems partly related to issue #152 which I had on python 3.8 with similar `ImportError`s.

On python 3.10, starting from a fresh venv I had the following chain of `ImportError`s while trying to run `excalibur initdb`, the first few were resolved by updated the importing package as @An

[2022-05-25 14:59] kyuzh commented on #155
research on google Ghostcript, or go (https://www.ghostscript.com/).

[2022-05-25 15:02] kyuzh opened #158 "Internal Server Error can't Download data"
![image](https://user-images.githubusercontent.com/62187465/170294337-5c9629e2-5e38-4df6-b49e-34e0ce63ec1a.png)

[2022-06-02 10:20] kkin1995 commented on #158
Facing the same issue on macOS Monterey 12.4 with camelot version 8.9.0 and excalibur version 0.4.3.

The error message in the terminal shown is:
[code]

The error is thrown from the file:
[code]

[2022-06-16 13:11] graykimbrough commented on #158
I am seeing the same issue on macOS Monterey 12.4 with camelot 8.9.0 and excalibur 0.4.3. I receive this error when I click "Download" in either Safari or Chrome, no matter what file format I select. Here is the full traceback:

[2022-06-20 08:53] kyuzh commented on #158
look here https://stackoverflow.com/questions/67591467/flask-shows-typeerror-send-from-directory-missing-1-required-positional-argum.

Just replace filename by path at line 262 in views.py.
![image](https://user-images.githubusercontent.com/62187465/174563680-b7a77cf8-ed9a-465d-8054-6103314ff20b.png)

[2022-06-20 09:36] #158 closed

[2022-06-22 09:43] parthplc commented on #142
Hey @CaptainStabs @akovia HOW DID YOU SOLVE THIS ISSUE ?

[2022-06-27 11:25] echidne commented on #151
@kuirolo I'm stuck at teh samez step than you => did you find a work around?

[2022-06-27 12:06] Philippe-M opened #160 "Error 304 in the logs"
Hello, I am currently testing Excalibur. It almost works but I have a lot of 304 errors in the server logs.

Example :
[code]

I do my tests on Fedora 35, python 3.10.4

[2022-07-06 18:37] rnallamwj opened #161 "data error"
table showing CID values

[2022-07-26 04:11] sh4yce commented on #151
Did this ever get fixed?

[2022-08-11 18:06] jaycatsby commented on #41
It looks like it :( stuck on perpetually refreshing processing page on Windows.

[2022-08-12 00:25] 1andox commented on #61
Has anyone found a solution by any chance? Excalibur used to work beautifully on my old machine. When I got a new laptop and tried to install again I ran into several problems including having to downgrade werkzeug and flask. When I finally managed to get excalibur webserver working I ran into the same exact problem as OP. I miss using excalibur :( - camelot appears to still be working beautifully

[2022-08-18 08:17] lorenzoinm opened #162 "Table with merged cells not recognized correctly"

[2022-08-18 08:34] lorenzoinm commented on #162
I realized i was using 0.4. I will try again after an update with pip.

[2022-08-19 18:44] Oaklight commented on #117
any update?

[2022-09-27 02:32] xiconet commented on #154
Same problem here

[2022-09-27 04:08] xiconet commented on #149
same thing

[2022-10-11 07:32] TomProvence commented on #117
你好！邮件已经收到，我会尽快回复。谢谢

[2022-10-12 22:12] dmil commented on #151
+1 having the same issue

[2022-11-27 19:54] js333031 opened #167 "Error during `excalibur initdb` on Windows 10"
[code]